body{
	background-color: black;
}

input.button{
	border-color: darkgreen;
	background-color: green;
	color: white;
	border-style: solid;
	border-radius: 10px;
	position: absolute;

	font-size: 125%;
	text-decoration: inherit;

	width: 15%;
	height: 5%;
}

input#Counter_btn{

	left: 0%;
	top: 0%;

}

input#Game1_btn{

	

	left: 0%;
	top: 7.5%;

}

input#CaseRandom_btn{

	

	left: 0%;
	top: 15%;

}

input#CaseRandomRemake_btn{

	left: 0%;
	top: 22.5%;

}

input#TicTacToe_btn{

	left: 0%;
	top: 30%;

}

input#TicTacToeNew_btn{

	left: 0%;
	top: 37.5%;

}